[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
psycopg2 = "*"
django = "==2.2.18"
pandas = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
xlrd = "*"
pillow = "*"
dj-database-url = "*"
whitenoise = "*"
python-dateutil = "*"

[requires]
python_version = "3.7.1"
