<!DOCTYPE html>
<meta charset="utf-8">
<title>Jasper Croome</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<div class="wrapper">
    <header class="header">
        <p class="title">About This Site...</p>
        <!-- <a class="headerlink" href="admin/">Admin</a> -->
        <a class="headerlink" href="{% url 'vizzes:index' %}">back home</a>
    </header>
    <div class="about-main">
        <h4>Hi! I'm Jasper.</h4><img src="" Jasper Photo>
        <p>This Site has two main purposes:</p>
        <ul>
            <li>Help me work on my DataViz Skills</li>
            <li>Share the output of said work with the world</li>
        </ul>
        <p>There may be more to this site one day, but for now I'm going to keep it hyperfocused.</p>

    </div>
    <div class="footer"><p></p></div>
</div>