<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jasper Croome</title>
{% load static %}
<link rel="shortcut icon"type="image/png"href="{%static 'images/favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<header class="header" id="headerAbout">
    <a href="{% url 'vizzes:index' %}"><div id="aboutTitleBox"><p class="title"id="aboutTitle">JC</p></div></a>
    <div class="linksbar">
        <p class="headerlink"><b>About</b> | <a id="vizlistLink"href="{% url 'vizzes:VizList' %}">Visualizations</a></p>
    </div>
</header>
<h4 class="vizDesc"></h4>
<div id="aboutbody">
    <div class="aboutsite">
        <h2>About Jasper</h2>
        <p>My career to this point has been a meandering path, but I've picked up some <b>tasty tidbits</b> at each stop:</p>
        <ul>
            <li>CH Robinson & VTech Communications | Operations, <b>Supply Chain Planning</b>, Analytics | Aug 2011 - October 2015</li>
            <li>Amazon.com, Inc. | <b>BI Development</b>, Pro[ject/duct/gram] Management | October 2015 - July 2018</li>
            <li>NIKE, Inc. | <b>Front-End development</b>, BI Development | July 2018 - Present</li>
        </ul>
        <p>I also try to spend <b>as much time as possible</b> outdoors -  either hiking, riding my bike, or snowboarding.</p>
        <h2>About This Site</h2>
            <p>This site is built using <a href="https://djangoproject.com/">Django</a>, and is hosted on <a href="https://www.heroku.com/">Heroku</a>. Source Code can be found on my <a href="https://github.com/Jasparr77/dataviz-project">GitHub Page</a>.
            <br>The pages are built using basic HTML / CSS, and the Data Visualizations are built using <a href="https://d3js.org/">D3</a> (and sometimes, <a href="https://github.com/russellgoldenberg/scrollama">Scrollama</a>).</p>
    </div>
<div class ="footerContactBar">
    <div class="footercontactbutton empty"></div>
    <div class="footercontactbutton email"><a href="mailto:jjcroome@gmail.com"target="_blank"><img src="{% static 'images/email_PNG15.png' %}"></a></div>
    <div class="footercontactbutton linkedin"><a href="https://www.linkedin.com/in/jaspercroome/"target="_blank"><img src="{% static 'images/In-Blue-96.png' %}"alt="jasper's linkedin"></a></div>
    <div class="footercontactbutton twitter"><a href="https://twitter.com/CrasperJoome"target="_blank"><img src="{% static 'images/Twitter_Logo_Blue.png' %}"alt="jasper's twitter"></a></div>
    <div class="footercontactbutton github"><a href="https://github.com/Jasparr77"target="_blank"><img src="{% static 'images/GitHub-Mark-64px.png' %}"alt="jasper's GitHub"></a></div>
    <div class="footercontactbutton empty"></div>
</div>
<div class="footer">
     <script src="{% static 'vizzes/js/d3.v4.min.js' %}"></script>
     <script src="{% static 'vizzes/js/resize.js' %}"></script>
     <script src="{% static 'vizzes/js/about_timeline.js' %}"
</div>