<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VizLab</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
     <header class="header"id="headerVizDetail">
          <a href="{% url 'vizzes:index' %}"><div id="vizdetailTitleBox"><p class="title"id="vizdetailTitle">JC</p></div></a>
          <p class="vizVerbose">{{ selected_dataviz.viz_verbose_name }}</p> 
          <div class="linksbar"> 
               <a class="headerlink" href="{% url 'vizzes:VizList' %}">back</a>
          </div>
     </header>
     <h4 class="vizDesc">{{ selected_dataviz.viz_description }}</h4>
     {% if  selected_dataviz.viz_type == 'D3L' %}
          <section id="scroll">
               <div class="scroll__graphic sticky"><svg class="chart"></svg></div>
               <div class="scroll__text"></div>
          </section>           
     {% elif selected_dataviz.viz_type == 'D3T' %}
          <div id="staticBody"></div>
     {% elif selected_dataviz.viz_type == 'TBX' %}
          <div class='tableauPlaceholder'>
               <object class='tableauViz'>
                    <param name='host_url' value='https%3A%2F%2F10ax.online.tableau.com%2F' />
                    <param name='embed_code_version' value='3' /> 
                    <param name='site_root' value='&#47;t&#47;jasperdevdev358361' />
                    <param name='name' value='{{selected_dataviz.viz_file}}' /><param name='tabs' value='no' />
                    <param name='toolbar' value='yes' /><param name='showAppBanner' value='false' />
                    <param name='filter' value='iframeSizedToWindow=true' />
               </object>
          </div>
     {% elif selected_dataviz.viz_type == 'IMG' %}
          <div class="pictureBox"><img src="{{ selected_dataviz.viz_file }}"></div>
     {% elif selected_dataviz.viz_type == 'WRD' %}
          <div class="wordBox"><p src="{{ selected_dataviz.viz_file }}"></p></div>
     {% endif %}   
     <div class ="footerContactBar">
         <div class="footercontactbutton empty"></div>
         <div class="footercontactbutton email"><a href="mailto:jjcroome@gmail.com"target="_blank"><img src="{% static 'images/email_PNG15.png' %}"></a></div>
         <div class="footercontactbutton linkedin"><a href="https://www.linkedin.com/in/jaspercroome/"target="_blank"><img src="{% static 'images/In-Blue-96.png' %}"alt="jasper's linkedin"></a></div>
         <div class="footercontactbutton twitter"><a href="https://twitter.com/CrasperJoome"target="_blank"><img src="{% static 'images/Twitter_Logo_Blue.png' %}"alt="jasper's twitter"></a></div>
         <div class="footercontactbutton github"><a href="https://github.com/Jasparr77"target="_blank"><img src="{% static 'images/GitHub-Mark-64px.png' %}"alt="jasper's GitHub"></a></div>
         <div class="footercontactbutton empty"></div>
     </div> 
     <div class="footer">
          <script src="{% static 'vizzes/js/d3.v4.min.js' %}"></script>
          <script src="{% static 'vizzes/js/resize.js' %}"></script>
          <script src="{% static 'vizzes/js/intersection-observer.0-5.js' %}"></script>
          <script src="https://unpkg.com/scrollama"></script>
          <script src="https://russellgoldenberg.github.io/scrollama/stickyfill.min.js"></script>
          <script src="{% static 'vizzes/js/d3.topojson.v2.min.js' %}"></script>
          <script type="text/javascript" src="{{ selected_dataviz.viz_file }}"></script>
          <p>Added to DB {{ selected_dataviz.date_added }}  <a href="{{ selected_dataviz.viz_source }}"target="_blank">data source</a></p> 
     </div>