<!DOCTYPE html>
<meta charset="utf-8">
<title>Jasper Croome</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
<div class="wrapper">
    <header class="header">
        <p class="title">JC</p>
            <p><a class="headerlink" href="{% url 'vizzes:about' %}">About</a> | <a class="headerlink" href="{% url 'vizzes:VizList' %}">Visualizations</a> | Home</p>
    </header>
    <div id="indexintro">
        <h1>Hi, I'm Jasper Croome.</h1>
        <p>Solution Oriented Front-End Developer
            <br>with a deep focus and keen interest in
            <br><a class="headerlink" href="{% url 'vizzes:VizList' %}">Data Visualization</a> and the User Experience.</p>
    </div>
    <div class="footer"><p></p></div>
</div>