<!DOCTYPE html>
<meta charset="utf-8">
<title>VizLab</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<div class="wrapper">
    <header class="header">
        <p class="title">VizLab</p> <a class="headerlink" href="admin/">Admin</a>
    </header>
    <div class="index-main">
        <ul> {% for dataviz in latest_viz_list %}
            <li><a href="{% url 'vizzes:viz' dataviz.viz_id %}">{{dataviz.viz_id}} | {{dataviz.viz_verbose_name}}</a></li>
            <p>{{dataviz.viz_description}}</p>
        {% endfor %} </ul> 
    </div>
    <div class="footer"><p></p></div>
</div>