<!DOCTYPE html>
<meta charset="utf-8">
<title>Jasper Croome</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
<div class="wrapper">
    <header class="header">
        <p class="title">Vizzes</p>
            <p><a class="headerlink" href="{% url 'vizzes:about' %}">About</a> | Visualizations | <a class="headerlink" href="{% url 'vizzes:index' %}">Home</a></p>
    </header>
    <div class="vizlist-main">
        {% for dataviz in latest_viz_list %}
            <div class="vizCard">
                <a class="vizLink" href="{% url 'vizzes:viz' dataviz.id %}">
                    <img class="vizThumb" src="{{dataviz.viz_thumb}}">
                    <div class="vizDesc">
                        <h3>{{dataviz.viz_verbose_name}}</h3>
                    </div>
                </a>
            </div>
        {% endfor %} </ul> 
    </div>
    <div class="footer">
            <div id="footercontact">
                <a href="mailto:jjcroome@gmail.com"> Contact </a>
            </div>
        </div>
</div>