<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jasper Croome</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vizzes/style.css' %}">
<link rel="shortcut icon"type="image/png"href="{%static 'images/favicon.ico' %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<header class="header"id="headerVizDetail">
    <a href="{% url 'vizzes:index' %}"><div id="vizlistTitleBox"><p class="title"id="vizlistTitle">JC</p></div></a>
    <div class="linksbar">
        <p class ="headerlink"><a id="aboutLink" href="{% url 'vizzes:about' %}">About</a> | <b>Visualizations</b></p>
    </div>
</header>
<div class="vizlist-main">
    {% for dataviz in viz_list %}
        <div class="vizCard">
            <a class="vizLink" href="{% url 'vizzes:viz' dataviz.id %}">
                <img class="vizThumb" src="{{dataviz.viz_thumb}}">
                <div class="vizTitle">
                    <p>{{dataviz.viz_verbose_name}}</p>
                </div>
            </a>
        </div>
    {% endfor %} </ul> 
</div>
<div class ="footerContactBar">
    <div class="footercontactbutton empty"></div>
    <div class="footercontactbutton email"><a href="mailto:jjcroome@gmail.com"target="_blank"><img src="{% static 'images/email_PNG15.png' %}"></a></div>
    <div class="footercontactbutton linkedin"><a href="https://www.linkedin.com/in/jaspercroome/"target="_blank"><img src="{% static 'images/In-Blue-96.png' %}"alt="jasper's linkedin"></a></div>
    <div class="footercontactbutton twitter"><a href="https://twitter.com/CrasperJoome"target="_blank"><img src="{% static 'images/Twitter_Logo_Blue.png' %}"alt="jasper's twitter"></a></div>
    <div class="footercontactbutton github"><a href="https://github.com/Jasparr77"target="_blank"><img src="{% static 'images/GitHub-Mark-64px.png' %}"alt="jasper's GitHub"></a></div>
    <div class="footercontactbutton empty"></div>
</div>