body {
  margin: 0px;
  font-family: 'Alegreya', serif;
}
.wrapper {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 4vh 94vh 2vh;
}

.header {
  top: 0px;
  left: 0px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: white;
  position: fixed;
  color: darkslategray;
  opacity: .90;
  position: fixed;
  display: grid;
    grid-template-columns:  70vw 30vw;  
    /* place-items: center; */
  box-shadow: 0 3px 2px rgba(57, 63, 72, 0.3);
}

.header p{
  text-align: center;
  margin: 5px;
}

.header p.title {
  text-align: left;
  grid-column: 1/2;
  font-size: 3vw;
}

.header p.vizName {
  grid-column: 2/3;
}
.header a {
  padding: 5px;
  grid-column: 2/3;
  /* height: 4vh; */
  text-decoration: none;
  font-size: 1.5vw;
  text-align: right;
}

#scroll {
  grid-column: 1/4;
  grid-row: 2/3;
}

div.detail_main, div.index-main {
  top: 4px;
  grid-column: 1/4;
  grid-row: 2/3;
}

#indexintro {
  grid-column:2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 35vw 35vw;
  place-items: center; 
}
#indexintro h1{
  grid-column: 1/2;
  place-content: right;
}
#indexintro p {
  grid-column: 2/3;
  place-content: left;
}

/* Index Page */
.vizlist-main {
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 5px;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:10px;
    grid-auto-rows: 200px;
}
.spacer {
  opacity: 0;
  font-size: 3vw;
}

div.vizCard {
  justify-content: center;
  display: grid;
}

a.vizLink {
  grid-row: 1/3;
  grid-column: 1/2;
  display: grid;
    grid-template: 100% 100%;
    text-decoration: none;
}

img.vizThumb {
  height: 100%;
  width: 100%;
  grid-row: 1/4;
  grid-column: 1/2;
  object-fit: cover;
}

div.vizDesc {
  text-align: center;
  transform: translate(0%, -100%);
  background: slategray;
  opacity: .75;
  color: white;
}
div.footer {
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;
  background: white;
}
div.footer p {
  text-align: center;
}
.vizText {
  width: 98vw;
}

/* about page */
#aboutbody {
grid-row: 2/3;
grid-column: 1/4;
margin: 5px;
display: grid;
grid-template-columns: 35vw 35vw;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap:10px;
  grid-auto-rows: 200px; */
}
#aboutsite {
  grid-column: 1/2;
}
#aboutjasper {
  grid-column: 2/3;
}
/* viz detail page */
.mainviz{
  width: 98vw;
  height: 80vh;
  background: whitesmoke;
}

/* 0001 - women in congress */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
circle {
  stroke: white;
  stroke-width: .1vw;
  opacity: .5;
}
.totalCongress {
  stroke: peru;
  stroke-width: .2vh;
}
.dem {
  fill: navy;
}
.rep {
  fill: darkred;
}

/* FOTP */
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 4px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
/* FMW */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}